<body class="Primary">
<mat-toolbar class="Header">
  <span class="headerSpan">Message board </span>
  <span class="headerSpan" *ngIf="firebase.auth.currentUser">Welcome, {{firebase.LoginUserData.Email}} </span>
  <img (click)="fileInput.click()" style="max-height: 60px" *ngIf="firebase.auth.currentUser" src="{{firebase.LoginUserData.AvatarURL}}" alt="Avatar">
  <input (change)="firebase.updateUserImage($event)" hidden #fileInput type="file">
  <button routerLink="/Login" *ngIf="!firebase.auth.currentUser" > Login </button>
  <mat-menu #menu="matMenu">

  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
</body>









